p { color: #800000;
  font-size: 20pt;
}

ul { color: #FF00FF;
  font-size: 14pt;
}

ol { color: #FF00FF;
  font-size: 14pt;
}

h1 {  color: #4682B4;
  font-family: Garamond; 
}

header { color: #4682B4;
  font-family: Garamond;
}

body { color: #191970;
   font-size: 20pt;
}

footer { color: #4682B4;
  font-family: Garamond;
}
